<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @user.spouse %>
</p>

<p>
  <strong>Father:</strong>
  <%= @user.father %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @user.mother %>
</p>

<p>
  <strong>Bank state:</strong>
  <%= @user.bank_state %>
</p>

<p>
  <strong>Bank city:</strong>
  <%= @user.bank_city %>
</p>

<p>
  <strong>Bank agency:</strong>
  <%= @user.bank_agency %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @user.graduation %>
</p>

<p>
  <strong>Graduation begin:</strong>
  <%= @user.graduation_begin %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @user.graduation %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @user.institution %>
</p>

<p>
  <strong>Office:</strong>
  <%= @user.office %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @user.admission %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @user.doc_type %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @user.identity %>
</p>

<p>
  <strong>Expedition:</strong>
  <%= @user.expedition %>
</p>

<p>
  <strong>Dispatcher:</strong>
  <%= @user.dispatcher %>
</p>

<p>
  <strong>Address type:</strong>
  <%= @user.address_type %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @user.cep %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @user.neighborhood %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @user.complement %>
</p>

<p>
  <strong>Phone1 type:</strong>
  <%= @user.phone1_type %>
</p>

<p>
  <strong>Phone1 number:</strong>
  <%= @user.phone1_number %>
</p>

<p>
  <strong>Phone2 type:</strong>
  <%= @user.phone2_type %>
</p>

<p>
  <strong>Phone2 number:</strong>
  <%= @user.phone2_number %>
</p>

<p>
  <strong>Worker ifpi:</strong>
  <%= @user.worker_ifpi %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @user.tutor %>
</p>

<p>
  <strong>Tutor polo:</strong>
  <%= @user.tutor_polo %>
</p>

<p>
  <strong>Teacher type:</strong>
  <%= @user.teacher_type %>
</p>

<p>
  <strong>Teacher course:</strong>
  <%= @user.teacher_course %>
</p>

<p>
  <strong>Teacher theme:</strong>
  <%= @user.teacher_theme %>
</p>

<p>
  <strong>Teacher begin:</strong>
  <%= @user.teacher_begin %>
</p>

<p>
  <strong>Teacher finish:</strong>
  <%= @user.teacher_finish %>
</p>

<p>
  <strong>Coordinator polo:</strong>
  <%= @user.coordinator_polo %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
